body {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    min-height: 100vh; /* Ensure the entire viewport height is covered */
    margin: 0; /* Remove default margin */
}

.centered-div {
    background-color: lightgray;
    padding: 20px;
    border-radius: 5px;
    text-align: center; /* Center text within the div */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.size-50 {
   width: 50%; 
}
